trigger:
- none

pool:
  vmImage: ubuntu-latest
resources:
  repositories:
  - repository: 222
    type: github
    name: 7Xws5239/222
    endpoint: 7Xws5239
  - repository: 3333
    type: github
    name: 7Xws5239/333
    endpoint: 7Xws5239
variables:
 - name: checkoutreporef
   value: $[ resources.repositories['3333'] ]
steps:
- checkout: 333
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Write your PowerShell commands here.
      
      Write-Host $(checkoutreporef)
# - checkout: 222
# - checkout: 333
# - task: PythonScript@0
#   inputs:
#     scriptSource: 'inline'
#     script: |
#       import os
      
#       #get current sub folders name
#       def getfoldersname():
#           folders = [f for f in os.listdir('.') if os.path.isdir(f)]
#           return folders
#       #print each folder name
#       def printfoldersname():
#           for folder in getfoldersname():
#               print(folder)
      
#       printfoldersname()

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Write your PowerShell commands here.
      
      Write-Host "$(Build.Repository.LocalPath)"
      Write-Host "$(Build.SourcesDirectory)"
      Write-Host "$(System.DefaultWorkingDirectory)"
      Write-Host "$(System.DefaultWorkingDirectory)"
      ls
