trigger:
- none

pool:
  vmImage: ubuntu-latest
resources:
  repositories:
  - repository: 111
    type: github
    name: 7Xws5239/222
    endpoint: 7Xws5239
steps:
- checkout: 111
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      # Write your PowerShell commands here.
      
      Write-Host "$(Build.Repository.LocalPath)"
      Write-Host "$(Build.SourcesDirectory)"
      Write-Host "$(System.DefaultWorkingDirectory)"
      ls
